@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.container {
  display: flex;
  align-items: center;
  gap: 100px;
  font-family: 'Space Grotesk', sans-serif;
}

.cards_container {
  background: black url('../../public/bg-main-desktop.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 40vw;
}

.cards {
  position: absolute;
  top: 20%;
  left: 15%;
  display: grid;
  grid-template-rows: 245px;
  grid-template-columns: 500px;
  gap: 30px;
  scale: 0.9;
  color: white;
  
}

.frontcard_container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.frontcard input {
  background: none;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
}

.backcard input {
  background: none;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
}

.form input::placeholder {
  opacity: 30%;
  font-weight: 600;
  color: hsl(278, 74%, 9%);
}

.frontcard {
  width: 89.5%;
  padding-left: 30px;
  position: absolute;
  display: grid;
  gap: 20px;
  bottom: 30px;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-transform: uppercase;
}

.cd1 {
  margin: 0;
  font-size: 1.4em;
  grid-row-start: 2;
  grid-row-end: 2;
}

.cd2 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.cd3 {
  grid-row-start: 3;
  justify-self: end;
}

.backcard_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.backcard {
  position: absolute;
  right: 0px;
}

.backcard input {
  text-indent: 40px;
}

.form, .form_first_div {
  display: flex;
  flex-direction: column;
}

.form {
  width: 300px;
  margin-left: 200px;
  color: hsl(278, 67%, 19%);
  scale: 1.1;
}

.form, .form_first_div, .form_second_div, .my_container, .cvc_container {
  gap: 5px;
}

.input {
  height: 30px;
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 10px;
  font-weight: 600;
  color: hsl(278, 67%, 19%);
}

.button {
  height: 40px;
  background-color: hsl(278, 67%, 19%);
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.form_second_div {
  display: flex;
}

.my_container {
  display: flex;
  flex-direction: column;
}

.my_input_div {
  display: flex;
  gap: 5px;
}

.my_input_div input {
  width: 60px;
}

.cvc_container {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.error {
  font-size: 12px;
  color: rgb(255, 0, 76);
  opacity: 1;
  font-weight: 600;
}

.input_error {
  height: 30px;
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 10px;
  font-weight: 600;
  color: hsl(278, 67%, 19%);
  border-color: rgb(255, 0, 76);
}

.greetings {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 200px;
}

@media all and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .cards_container {
    background: black url('../../public/bg-main-mobile.png') no-repeat center center;
    background-size: cover;
    height: 30vh;
    width: 100vw;
  }

  .cards {
    position: absolute;
    top: -10%;
    left: 0px;
    display: grid;
    grid-template-rows: 245px;
    grid-template-columns: 500px;
    gap: 0px;
    scale: 0.6;
    width: 100%;
    justify-content: center;
    justify-items: center;
  }

  .form {
    margin: 30px 0;
  }

  .frontcard_container {
    justify-self: start;
    z-index: 1;
    position: relative;
}

  .backcard_container {
    justify-self: end;
    grid-row-start: 1;
    position: relative;
    top: 43%;
    justify-items: start;
  }

  .frontcard {
    padding: 0;
  }

  .backcard input {
    text-indent: 0;
    width: 70px;
  }

  .greetings {
    margin: 0;
  }
}